/* Принудительная тёмная тема через класс */
:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --accent-transparent: rgba(255, 0, 112, 0.4);
  --subtitle-color: #000028;
  --title-shadow: 4px 4px 0 var(--accent-color);
}

:root.theme-dark .rec-decor {
  display: block;
}