*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.page {
  font-family: var(--font-family);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

/* Декоративный элемент REC */
.rec-decor {
  position: absolute;
  top: var(--padding-mobile);
  right: calc(var(--padding-mobile) + 28px);
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: normal;
  font-size: var(--main-font-size);
  line-height: 1.4;
  letter-spacing: 0.1em;
  pointer-events: none;
}

.rec-decor::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px var(--accent-color);
  vertical-align: middle;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  font-weight: bold;
  padding: 0 10px;
  line-height: 1;
  display: inline-block;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: var(--padding-mobile);
  right: var(--padding-mobile);
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: var(--padding-mobile);
  left: var(--padding-mobile);
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

@media (min-width: 768px) {
  .decorated-zone::before {
    top: var(--padding-tablet);
    right: var(--padding-tablet);
  }
  
  .decorated-zone::after {
    bottom: var(--padding-tablet);
    left: var(--padding-tablet);
  }
  
  .rec-decor {
    top: var(--padding-tablet);
    right: calc(var(--padding-tablet) + 38px);
  }
}

@media (min-width: 1024px) {
  .decorated-zone::before {
    top: var(--padding-desktop);
    right: var(--padding-desktop);
  }
  
  .decorated-zone::after {
    bottom: var(--padding-desktop);
    left: var(--padding-desktop);
  }
  
  .rec-decor {
    top: var(--padding-desktop);
    right: calc(var(--padding-desktop) + 38px);
  }
}