:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --accent-transparent: rgba(255, 141, 203, 0.4);
  --subtitle-color: #353430;
  --title-shadow: 4px 4px 0 var(--accent-color);
}

:root.theme-light .section__title {
  color: #353430;
}

:root.theme-light .rec-decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --accent-transparent: rgba(255, 141, 203, 0.4);
    --subtitle-color: #353430;
    --title-shadow: 4px 4px 0 var(--accent-color);
  }
  .section__title {
    color: #353430;
  }
  .rec-decor {
    display: none;
  }
}