/* styles/light.css */

:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #353430;
  --section-title-color: #353430;
  --accent-transparent: rgba(50, 49, 45, 0.4);
  --subtitle-color: #353430;
  --title-shadow: 4px 4px 0 #ff8dcb;
  --title-decor-bg: #ff8dcb;
}

:root.theme-light .rec-decor {
  display: none;
}

/* Авто-тема: когда в системе светлая тема */
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #353430;
    --section-title-color: #353430;
    --accent-transparent: rgba(50, 49, 45, 0.4);
    --subtitle-color: #353430;
    --title-shadow: 4px 4px 0 #ff8dcb;
    --title-decor-bg: #ff8dcb;
  }

  .rec-decor {
    display: none;
  }
}